<div class="footer">
    <footer class="bg-light text-black">
      
      <div class="adresse text-center">
        <div class="adresses">      
          <div class="mns">
            <img id="logoFooter1" [src]="logoSite" alt="Logo du site" width="50" height="50"/>
            <p>86 rue aux arènes,57000 Metz 03-87-16-07-17</p>
          </div>
        <div class="ifa">
          <img id="logoFooter2" [src]="logoIfa" alt="Logo du site" width="50" height="50"/>
          <p>4 rue saint-charles, 57000 Metz 03-87-74-00-75</p>
        </div>
      </div>
      <div class="text-lg-center">
        <!-- Section: Social media -->
        <section>
          <!-- Facebook -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/MetzNumSchool/" target="_blank" role="button">
            <img [src]="logoFb" alt="Logo du site" width="50" height="50"/>
          </a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/accounts/login/?next=/metznumschool/" target="_blank" role="button">
              <img [src]="logoInsta" alt="Logo du site" width="50" height="50"/>
          </a>
    
          <!-- Youtube -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.youtube.com/channel/UCf2kqzLBNlYmIfD7-4KsPQw" target="_blank" role="button">
            <img [src]="logoYt" alt="Logo du site" width="50" height="50"/>
          </a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/school/metz-numeric-school/mycompany/" target="_blank" role="button">
            <img [src]="logoLinkedin" alt="Logo du site" width="50" height="50"/>
          </a>
        </section>
        <!-- Section: Social media -->
      </div>
    </div>
      <div class="text-center p-2" style="background-color: rgba(5, 0, 0, 0.74);">
        
        <a class="text-white" href="https://www.metz-numeric-school.fr/fr" target="_blank" >Visiter notre site Web</a>
      </div>
    </footer>
    </div>