
      

     <div class="page">
        
      <h1 class="text-white"> Informations/Contact </h1>

    <img class="mns" [src]="contactMns" alt="photo MNS" width="600"/>
    <img class="mns" [src]="contactMapMns" alt="Adresse map MNS" width="700"/>
    <img class="ifa" [src]="contactIfa" alt="photo ifa" width="600"/>
    <img class="ifa" [src]="contactMapIfa" alt="Adresse map IFA" width="700"/>
     
    
        
    <div class="row">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Information de contact MNS</h5>
              <img id="mns" [src]="contactLogoMns" alt="Adresse map IFA" width="200"/>
              <p class="card-text"><br>86 rue aux arènes 57000 Metz<br><br> Tél: 03-87-16-07-17<br> Mail: recrutement@metznumericschool.fr</p>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Information de contact IFA </h5>
              <img id="ifa" [src]="contactLogoIfa" alt="Adresse map IFA" width="350"/>
              <p class="card-text"><br>4 rue saint-charles 57000 Metz<br><br> Tél: 03-87-74-00-75<br> Mail: agencemetz@ifa-formation.fr</p>
              
            </div>
          </div>
        </div>
      </div>

    </div>
    
    
 
 


