<div class="page">

  <h1 class="text-white"> Informations/Contact </h1>
  
  <img class="img-fluid mns" [src]="contactMns" alt="photo MNS" width="800px"/>
  <img class="img-fluid mns" [src]="contactMapMns" alt="Adresse map MNS" width="800px"/>
  <img class="img-fluid ifa photoIfa" [src]="contactIfa" alt="photo ifa" width="800px"/>
  <img class="img-fluid ifa" [src]="contactMapIfa" alt="Adresse map IFA" width="800px">
  
  <div class="container">
      <div class="row g-3 d-flex justify-content-center">
          <div class="col-12 col-md-4">
          <div class="card card-first mb-5">
              <div class="card-body">
              <h5 class="card-title text-center">Information de contact MNS</h5>
              <img class="card-img-top" [src]="contactLogoMns" alt="Adresse map MNS" width="200"/>
              <p class="card-text"><br>86 rue aux arènes 57000 Metz<br><br> Tél: 03-87-16-07-17<br> Mail: recrutement@metznumericschool.fr</p>
              </div>
          </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="card pb-5">
                  <div class="card-body">
                      <h5 class="card-title text-center">Information de contact IFA </h5>
                      <img class="card-img-top" [src]="contactLogoIfa" alt="Adresse map IFA" width="350"/>
                      <p class="card-text"><br>4 rue saint-charles 57000 Metz<br><br> Tél: 03-87-74-00-75<br> Mail: agencemetz@ifa-formation.fr</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </div>