<div class="pageEtudiant">
  <div class="container">
    <h2 class="text-center mb-5">Matériel en location</h2>

    <div class="row text-center">
      <div class="col-6 pt-1">
        <div class="card text-start">
          <div class="card-body">
            <h3 class="card-title text-center">Informations</h3>
            <p class="card-text">Matériel(s) en cours de location:</p>
            <p class="card-text">Matériel(s) en retard:</p>
          </div>
        </div>
      </div>

      <div class="col-6 pt-1">
        <div class="card text-center">
          <div class="card-body">
            <ng-container *ngIf="successMessage">
              <div class="alert alert-success messageValidation">
                <mat-icon class="iconInfo">check_circle</mat-icon>
                <span>{{ successMessage }}</span>
                <mat-icon class="iconClose" (click)="cacherMessage()">close</mat-icon>
              </div>
            </ng-container>
            <ng-container *ngIf="errorMessage">
              <div class="alert alert-danger messageValidation">
                <mat-icon class="iconInfo">error</mat-icon>
                {{ errorMessage }}
                <mat-icon class="iconClose" (click)="cacherMessage()">close</mat-icon>
              </div>
            </ng-container>
            <h3 class="card-title">Gestion</h3>

            <p class="card-text">Signaler un dysfonctionnement ou une panne</p>
            <a class="btn btn-primary boutonsGestion" (click) ="openDialog()">Signaler</a>
            <p class="card-text">Demander une prolongation d'emprunt</p>
            <a href="#" class="btn btn-primary boutonsGestion">Prolonger</a>
            <p class="card-text">Faire une nouvelle demande d'emprunt</p>
            <a href="#" class="btn btn-primary boutonsGestion">Nouveau emprunt</a>
            <p class="card-text">Faire une demande de retour</p>
            <a href="#" class="btn btn-primary boutonsGestion">Retourner</a>
            <p class="card-text">Faire une demande de prolongation de prêt</p>
            <a href="#" class="btn btn-primary boutonsGestion">Prolonger</a>
          </div>
        </div>
      </div>
    </div>

  <form>
    <h2 class="text-center mb-5">Demande de location matériel</h2>
    <h3 class="mb-3">Informations personnelles</h3>
      <div class="form-row">
        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="validationDefault01">Nom*</label>
            <input type="text" class="form-control" id="validationDefault01" required>
          </div>
          <div class="col-lg-4 mb-3">
            <label for="validationDefault02">Prenom*</label>
            <input type="text" class="form-control" id="validationDefault02" required>
          </div>
          <div class="col-lg-3 mb-3">
            <label for="validationDefault01">Date de naissance*</label>
            <input type="date" class="form-control" id="validationDefault01" required>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3">
            <label for="validationDefault02">Adresse*</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Numéro et nom de rue" required>
          </div>
          <div class="col-lg-3 mb-3">
            <label for="validationDefault03">Ville*</label>
            <input type="text" class="form-control" id="validationDefault03" required>
          </div>
          <div class="col-lg-3 mb-3">
            <label for="validationDefault05">Code postal*</label>
            <input type="text" class="form-control" id="validationDefault05" required>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 mb-3">
            <label for="validationDefaultUsername">Mail*</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="exemple@gmail.com" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
          <div class="col-lg-3 mb-3">
            <label>Veuillez choisir votre statut...</label>
            <select class="form-select" aria-label="Default select example">
              <option selected></option>
              <option value="1">Etudiant</option>
              <option value="2">Intervenant</option>
            </select>
          </div>
        </div>
      </div>

      <h3 class="mb-3 mt-4">Informations matériel</h3>
      <div class="row">
        <div class="col-lg-3 mb-3">
          <label>Sélectionnez le matériel :</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Ordinateur</option>
            <option value="2">Webcam</option>
            <option value="3">Projecteur</option>
            <option value="4">Casque VR</option>
          </select>
        </div>
        <div class="col-lg-3 mb-3">
          <label>Sélectionnez le lieu :</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">MNS</option>
            <option value="2">IFA</option>
          </select>
        </div>
        <div class="col-lg-3 mb-3">
          <label>Sélectionnez le cadre d'utilisation :</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Cours</option>
            <option value="2">Salon professionnel</option>
            <option value="3">Réunion</option>
            <option value="4">Location longue</option>
          </select>
        </div>
      </div>

      <h3 class="mb-3 mt-4">Dates de réservation</h3>
        <div class="form-row">
          <div class="row">
            <div class="col-lg-3 mb-3">
              <label for="validationDefault01">Date de début d'emprunt*</label>
              <input type="date" class="form-control" id="validationDefault01" required>
            </div>
            <div class="col-lg-3 mb-3">
              <label for="validationDefault02">Date fin d'emprunt*</label>
              <input type="date" class="form-control" id="validationDefault02" required>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="form-group">
            <div class="form-check mt-4 mb-3">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Je certifie sur l'honneur l'exactitude des renseignements fournis ci-dessus
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn boutonFormulaire mb-5" type="submit">Envoyer</button>
        </div>
  </form>
  <br><br>

  </div>
</div>


  
