.boutonFormulaire{
    background-color: #E9731D;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.boutonsGestion{
    background-color: #E9731D;
    font-size: 15px;
    border-radius: 30px;
    border: none;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 25px;
    color: #E9731D ;
    padding-bottom: 20px;
}

.pageEtudiant{
    background-color: #313E6F;
}

form{
    background-color: white;
    margin-top: 100px;
    padding: 30px;
    border-radius: 30px;
}

.card{
    margin-top: 100px;
}



