<div class="page-gestionnaire">

    <h1>Suivi du parc</h1>


    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nouvelles demandes</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Retour de stock</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matériel défectueux</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4 mb-3 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matériel disponible/lieux</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matériel en prêt</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Matériel en retard</h4>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btnEnregistrer btn-lg px-4" type="submit">Enregistrer une réservation</button>
        </div>


        <div class="titre">
            <h2>Suivi des locations</h2>
        </div>

        <h3>Demandes de prêts</h3>
        <!-- -------------------------------------Tableau nouvelle demande de prêt---------------------- -->
        
        <ng-container *ngIf="messageValidationDemandeEmprunt" >
            <div class="alert alert-success messageValidation d-flex justify-content-center">
              <mat-icon class="iconInfo">check_circle</mat-icon>
              <span>{{ messageValidationDemandeEmprunt }}</span>
              <mat-icon class="iconClose" (click)="cacherMessage()">close</mat-icon>
            </div>
          </ng-container>
          <ng-container *ngIf="messageErreurValidationDemandeEmprunt">
            <div class="alert alert-danger messageValidation d-flex justify-content-center">
              <mat-icon class="iconInfo">error</mat-icon>
              {{ messageErreurValidationDemandeEmprunt }}
              <mat-icon class="iconClose" (click)="cacherMessage()">close</mat-icon>
            </div>
          </ng-container>
        
        <table class="table table-light">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Type matériel</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Date d'emprunt</th>
                    <th scope="col">Date retour</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liste of listeDemandesEmprunt">
                    <td>{{ liste.utilisateur.nom }} </td>
                    <td>{{ liste.utilisateur.prenom }}</td>
                    <td>{{ liste.utilisateur.mail }}</td>
                    <td>{{ liste.utilisateur.statut.role }}</td>
                    <td>{{ liste.materiel.modele.typeMateriel.nomType }}</td>
                    <td>{{ liste.materiel.modele.nomModele }}</td>
                    <td>{{ liste.materiel.numeroSerie }}</td>
                    <td>{{ liste.dateEmprunt | date:'d/MM/yyyy' }}</td>
                    <td>{{ liste.dateRetour | date:'d/MM/yyyy' }}</td>

                    <td>
                        <a type="submit" class="btn btn-outline-success" role="button" (click)="validerDemandeEmprunt(liste.idEmprunt)">Valider</a>
                        <a type="submit" class="btn btn-outline-danger"  role="button" (click)="supprimerDemandeEmprunt(liste.idEmprunt)">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Demandes retour de prêt</h3>
        <!-- -----------------------------------------Tableau retour prêt ---------------------- -->
        <table class="table table-light">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Type matériel</th>
                    <th scope="col">Modèle</th>
                    <th scope="col">Numéro de série</th>
                    <th scope="col">Date retour initiale</th>
                    <th scope="col">Date retour souhaitée</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let liste of listeRetoursEmprunt">
                    <td>{{ liste.utilisateur.nom }} </td>
                    <td>{{ liste.utilisateur.prenom }}</td>
                    <td>{{ liste.utilisateur.mail }}</td>
                    <td>{{ liste.materiel.modele.typeMateriel.nomType }}</td>
                    <td>{{ liste.materiel.modele.nomModele }}</td>
                    <td>{{ liste.materiel.numeroSerie }}</td>
                    <td>{{ liste.dateRetour | date:'d/MM/yyyy' }}</td>
                    <td class="dateRetoursouhaité">{{ liste.dateDemandeRetour | date:'d/MM/yyyy' }}</td>

                    <td>
                        <a type="submit" class="btn btn-outline-success" role="button" (click)="validerRetourEmprunt(liste.idEmprunt)">Valider</a>
                        <a type="submit" class="btn btn-outline-danger"  role="button" (click)="supprimerDemandeEmprunt(liste.idEmprunt)">Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- -----------------------------------Création de compte ---------------------- -->

        <div class="pageGestionnaire">
            <div class="container">

                <form [formGroup]="formControl" #registerFrom="ngForm"
                    (ngSubmit)="donneesFormulaire(registerFrom.value)">
                    <h2 class="text-center text-black mb-5">Création de compte Utilisateur</h2>
                    <h3 class="mb-3">Informations personnelles</h3>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Nom*</label>
                                    <input type="text" class="form-control" required ngModel formControlName="nom"
                                        matInput>
                                    <mat-error *ngIf="formControl.get('nom')?.hasError('required')">
                                        Le nom est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Prénom*</label>
                                    <input type="text" class="form-control" required ngModel formControlName="prenom"
                                        matInput>
                                    <mat-error *ngIf="formControl.get('prenom')?.hasError('required')">
                                        Le prénom est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Choisir votre mot de passe*</label>
                                    <input type="password" class="form-control" required ngModel
                                        formControlName="motDePasse" matInput>
                                    <mat-error *ngIf="formControl.get('motDePasse')?.hasError('required')">
                                        Le mot de passe est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Adresse*</label>
                                    <input type="text" class="form-control" placeholder="Numéro et nom de rue" required
                                        ngModel formControlName="adresse" matInput>
                                    <mat-error *ngIf="formControl.get('adresse')?.hasError('required')">
                                        L'adresse est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Ville*</label>
                                    <input type="text" class="form-control" required ngModel formControlName="ville"
                                        matInput>
                                    <mat-error *ngIf="formControl.get('ville')?.hasError('required')">
                                        La ville est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Code postal*</label>
                                    <input type="text" class="form-control" required ngModel
                                        formControlName="codePostale" matInput>
                                    <mat-error *ngIf="formControl.get('codePostale')?.hasError('required')">
                                        Le code postale est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Mail*</label>
                                    <input type="text" class="form-control" placeholder="exemple@gmail.com" required
                                        ngModel formControlName="mail" matInput>
                                    <mat-error *ngIf="formControl.get('mail')?.hasError('required')">
                                        Le mail est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 mb-3">
                                <mat-form-field appearance="fill">
                                    <label>Numéro de téléphone*</label>
                                    <input type="tel" class="form-control" required ngModel formControlName="numeroTelephone"
                                        matInput>
                                    <mat-error *ngIf="formControl.get('numeroTelephone')?.hasError('required')">
                                        Le numéro de téléphone est <strong>obligatoire</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 mb-3">
                                <form [formGroup]="contactForm" (ngSubmit)="submitListe()">
                                    <label>Veuillez choisir votre statut...</label>
                                    <select formControlName="statutUtilisateur" class="form-select"
                                        aria-label="Default select example">
                                        <option [ngValue]="null" selected></option>
                                        <option *ngFor="let statut of statutUtilisateur" [ngValue]="statut.name">
                                            {{statut.name}}</option>

                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn boutonFormulaire mb-5" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>


        <h2 class="titreGestion">Gestion du parc</h2>

        <!-- -----------------------------------Filtre de recherche Gestion du Parc ---------------------- -->
        <div class="filtre">
            <div class="col-lg-3 mb-5">
                <input type="date" class="form-control" id="validationDefault01" required>
            </div>
            <div class="col-lg-3 mb-3">


                <select class="form-select" aria-label="Default select example">
                    <option class="espace" selected>Sélectionner un matériel</option>
                    <option class="espace"></option>
                    <option class="espace" value="1">Pc</option>
                    <option class="espace" value="2">Casque VR</option>
                    <option class="espace" value="3">Webcam</option>
                    <option class="espace" value="4">Projecteur</option>
                </select>
            </div>

            <div class="col-lg-3 mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Sélectionner le lieu</option>
                    <option></option>
                    <option value="1">MNS</option>
                    <option value="2">IFA</option>
                </select>
            </div>
        </div>



        <div class="d-flex justify-content-center">
            <button class="btnRechercher btn-lg px-4" type="submit">Rechercher</button>
        </div>

        <!-- -----------------------------------------Tableau Gestion du Parc ---------------------- -->

        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Emprunteur</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Localisation</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Documents techniques</th>
                    <th scope="col">Mode opératoire</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Disponible 60</td>
                    <td>Emprunté par élève</td>
                    <td>Emprunté</td>
                    <td>Pilotes d'installations</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>

    </div>
</div>