.page-gestionnaire{
    background-color: #1F2641 ;
}

.titre {
    margin-top: 30px;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

//-------------------------Bouton Enregistrer Réservation---------------------

.btnEnregistrer{
    background-color: #E9731D;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
}

//-------------------------Bouton Valider/Supprimer Demande de prêt---------------------
.btn{
    margin-left: 15px;

}

