
.page-gestionnaire{
    background-attachment: scroll ;
    background-color: #313E6f;
    overflow-y: auto ;
}


.titre {
    margin-top: 30px;
}

h1{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    padding-top: 200px;
}

h2{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding-top: 70px;
    margin-bottom: 40px;
}

h3{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #E9731D;
    margin-top: 30px;
    margin-bottom: 20px;
}


//-------------------------Bouton Enregistrer Réservation---------------------

.btnEnregistrer{
    background-color: #E9731D;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    border: none;
}

.btnEnregistrer:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

//-------------------------Bouton Rechercher---------------------
.btnRechercher{
    background-color: #E9731D;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.btnRechercher:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

//-------------------------Bouton Valider/Supprimer Demande de prêt---------------------
.btn{
    margin-left: 15px;
}



//------------------------Date et Filtre de recherche----------------------------------
.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

//---------------------- Création de compte----------------------------------------

.boutonFormulaire{
    background-color: #E9731D;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
}

form{
    background-color: white;
    margin-top: 50px;
    padding: 30px;
    border-radius: 30px;
    font-weight: bold;
}

h2{
    font-size: 35px;
    margin-top: 20px;
}

.iconInfo{
    margin-right: 10px;
}

.iconClose{
    margin-left: 40px;
}

.messageValidation{
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.datePrevue {
    color: green;
}

.dateRetoursouhaité{
    color: orange;
    font-weight: bold;
}

.demandesUtilisateur{
    color: red;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

table{
    margin-bottom: 100px;
}




