.gradient-custom {
  background: #6a11cb;

  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(31,38,65));
  
  background: linear-gradient(to right, rgba(31,38,65), rgba(37, 117, 252, 1))
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.btn1{
  background-color:#C44C21;
  border-radius: 20px;
  width: 300px;
}

.container{
  margin-top: 100px;
}

mat-form-field{
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

mat-form-field input{
  color: black;
}






