<div class="container">
  <h1 mat-dialog-title>Déclarer un dysfonctionnement</h1>
  <div mat-dialog-content>
    <form [formGroup]="formControl">

      <p>Quel est le numéro de série du matériel concerné ?*</p>
      <mat-form-field appearance="fill">
        <mat-label>Identifiant</mat-label>
        <mat-select formControlName="numeroSerie" [(ngModel)]="dataDysfonctionnement.materiel.idMateriel"> <!-- Permet d'ajouter id présent dans value à data pour l'envoyer en post-->
          <mat-option *ngFor="let numSerie of listeNumSerieMateriels" [value]=numSerie.idMateriel>{{ numSerie.numeroSerie}}</mat-option> <!-- [value] permet de récupérer directement la valeur de l'objet -->
        </mat-select>
        <mat-error *ngIf="formControl.get('numeroSerie')?.hasError('required')"> 
          Le numéro de série est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <p>Quelle est la date d'apparition du dysfonctionnement ?*</p>
      <mat-form-field appearance="fill">
        <input  formControlName="dateDysfonctionnement" type="date" matInput [(ngModel)]="dataDysfonctionnement.dateDysfonctionnement"/>
        <mat-error *ngIf="formControl.get('dateDysfonctionnement')?.hasError('required')"> 
          La date d'apparition du dysfonctionnement est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <p>Quel est le dysfonctionnement ?*</p>
      <mat-form-field appearance="fill">
        <textarea formControlName="descriptif" matInput [(ngModel)]="dataDysfonctionnement.descriptif"></textarea>
        <mat-error *ngIf="formControl.get('descriptif')?.hasError('required')"> 
          Le descriptif est <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button mat-button [disabled]="!this.formControl.valid" [mat-dialog-close]="dataDysfonctionnement">Valider</button>
  </div>
</div>